<IfModule mod_rewrite.c>
    RewriteEngine On

    # Si no es un archivo o directorio real, redirige todo a index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [QSA,L]
</IfModule>
